.foter{
    width: 100%;
    height: 450px;
    background-color: rgb(1, 1, 111);
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-around;
}
.part1{
    padding: 25px ;
    margin-left: 60px;
    font-size: 11px;
    width: 120px;
}
.part2{
        margin-top: 25px ;
        font-size: 12px;
        width: 100px;
}
.part3{
        padding: 25px ;
        width: 100px;
}
.part4{
        padding: 25px ;
        width: 100px;    
        font-size: 11px;
}
.smbg{
        padding: 25px ;
        padding-left: 0;
    height: 40px;
    margin-right: 30px;
}
.ptitre1{
    font-weight: bold;
    font-size: 15px;
}
.ptitre2{
    font-weight: bold;
    font-size: 15px;
}.ptitre3{
    font-weight: bold;
    font-size: 15px;
}.ptitre4{
    font-weight: bold;
    font-size: 15px;
}
.copyr{
     width: 100%;
     height: 40px;
    background-color: rgb(1, 1, 111);
    color: rgb(190, 190, 190);
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-around;
}