.page2{
margin-top: 50px;
}

.title2{
    font-size: 30px;
    font-weight: bolder;
    margin : 10px ;
    color : rgb(10, 47, 121);
    text-align: center;
}
.Boxs{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.box1{
    display: flex;
    flex-direction: column;
    width: 200px;

}
.box1pic{
    width: 80px;
}
.box1title{
    font-weight: bold;
    margin-bottom: 15px;
}
.box1P{
    margin-bottom: 15px;
}
.box2{
    display: flex;
    flex-direction: column;
    width: 200px;

}
.box2pic{
    width: 80px;
}
.box2title{
    font-weight: bold;
    margin-bottom: 15px;
}
.box2P{
    margin-bottom: 15px;
}


.box3{
    display: flex;
    flex-direction: column;
    width: 200px;

}
.box3pic{
    width: 80px;
}
.box3title{
    font-weight: bold;
    margin-bottom: 15px;
}
.box3P{
    margin-bottom: 15px;
}
.Pic2{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 10%,
        rgb(0, 0, 0) 75%,
        transparent 85%
    );
}
