.Header{
border: 5px solid rgb(255, 255, 255);
background-color: white; 
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center ;
margin-right: 0;
margin-left: 0;
margin-top: 0;
position:fixed;
width: 100%;
z-index: 100;

}
.gratuit{
    width: 200px;
    height: 34px;
    border-radius: 20px;
    color: white;
    background-color: rgb(53, 115, 240);
    background-color: rgb(53, 115, 240);
    background: linear-gradient(to top , rgb(81, 11, 114), rgb(40, 40, 141));
    font-weight: bold;
    font-size: 10px;
    margin-left: 30px;
    border: 0;
}
.connecter{
    margin-left: 20px ;
    font-weight: bolder;
}
.logo{
    margin-top: 0px;
    height: 50px;
    

}
.menuIcon{
    height: 50px ;
    margin-left: 10px;
    margin-right: 20px;
}
.rightHead{
    margin-right: 0px;
    margin-left: 0px;

    display: flex;
    align-items: center ;
}
.health{
    font-weight: bold;
}