.page1{

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.title1{
    font-size: xx-large;
    font-weight: bolder;
    margin : 10px ;
    color : rgb(10, 47, 121);

}
.para1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    width: 90%;
}
.button2{
    padding: 10px;
    font-size: 10px;
    font-weight:bold;
    border-radius: 20px ;
    background-color: rgb(53, 115, 240);
    background: linear-gradient(to top , rgb(81, 11, 114), rgb(40, 40, 141));
    
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border: 0;
    margin-bottom: 50px;
}
.Pic1{
    margin-top: 60px;
    width: 100%;
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%
    );
}